@model DB_BureauExpertiseAndEvaluation.Техника

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Техника</h2>

<h3>Вы действительно хотите удалить?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Год_производства)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Год_производства)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Серийный_номер)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Серийный_номер)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Цена_при_покупке)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Цена_при_покупке)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Компания_производитель)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Компания_производитель)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Модель)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Модель)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Объекты_экспертизы.Наименование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Объекты_экспертизы.Наименование)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться назад", "Index")
        </div>
    }
</div>
