@model DB_BureauExpertiseAndEvaluation.Техника

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Техника</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Год_производства, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Год_производства, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Год_производства, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Серийный_номер, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Серийный_номер, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Серийный_номер, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Цена_при_покупке, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Цена_при_покупке, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Цена_при_покупке, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Ид_объекта)

        <div class="form-group">
            @Html.LabelFor(model => model.Компания_производитель, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Компания_производитель, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Компания_производитель, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Модель, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Модель, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Модель, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
