@model DB_BureauExpertiseAndEvaluation.Накладная

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Накладная</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Номер)

        <div class="form-group">
            @Html.LabelFor(model => model.Дата_приёма, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Дата_приёма, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Дата_приёма, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Срок_выполнения_диагностики, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Срок_выполнения_диагностики, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Срок_выполнения_диагностики, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Причина_обращения, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Причина_обращения, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Причина_обращения, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Состояние_объекта, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Состояние_объекта, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Состояние_объекта, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Статус, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Статус, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Статус, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Примерная_стоимость_экспертизы, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Примерная_стоимость_экспертизы, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Примерная_стоимость_экспертизы, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ид_клиента, "Ид_клиента", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Ид_клиента", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ид_клиента, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ид_сотрудника, "Ид_сотрудника", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Ид_сотрудника", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ид_сотрудника, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ид_объекта, "Ид_объекта", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Ид_объекта", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ид_объекта, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
